@model List<oylmData.Data.alcontent>
<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" media="screen">
<link rel="stylesheet" type="text/css" href="~/css/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="~/css/responsive.css" media="screen">
 <div class="sidebar">
    <div class="archieve-widget widget menum">
        <h2>KOÇLUK ÇEŞİTLERİ</h2>
        <ul class="archieve-list">
          @foreach (var item in Model)
          {
            <li class="list">

                @Html.ActionLink(item.altbaslik.adi, "detay",new {id=item.baslikid })  <i class="fa fa-plus pull-right" aria-hidden="true"></i>


            </li>

          }
              
        

        </ul>
    </div>

</div>